Repository NickNish09/TheUltimateProjectApi: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, bundle exec rspec

chore: add database.ci.yml
  config/database.ci.yml
Due: none

fix: verify.yml database
  .github/workflows/verify.yml
Due: none

test: main request api version
  spec/helpers.rb
  spec/requests/main_request_spec.rb
  spec/spec_helper.rb
Due: bundle exec rubocop --force-exclusion, bundle exec rspec

test: main request api version (#1)
  spec/helpers.rb
  spec/requests/main_request_spec.rb
  spec/spec_helper.rb
Due: bundle exec rubocop --force-exclusion, bundle exec rspec

fix: running tests on develop push
  .github/workflows/verify.yml
Due: none

docs: readme updated and PR template
  .github/pull_request_template.md
  README.md
Due: none

docs: readme updated
  README.md
Due: none

docs: readme updated and PR template (#2)
  .github/pull_request_template.md
  README.md
Due: none

feat: add command generator
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/commands/application_command.rb
  lib/generators/command/USAGE
  lib/generators/command/command_generator.rb
  lib/generators/command/templates/command_spec_template.template
  lib/generators/command/templates/command_template.template
Due: bundle exec rubocop --force-exclusion

fix: command_spec template format
  lib/generators/command/templates/command_spec_template.template
Due: none

feat: add command generator (#3)
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/commands/application_command.rb
  lib/generators/command/USAGE
  lib/generators/command/command_generator.rb
  lib/generators/command/templates/command_spec_template.template
  lib/generators/command/templates/command_template.template
Due: bundle exec rubocop --force-exclusion

docs: add gitflow pattern in readme
  README.md
Due: none

docs: add gitflow pattern in readme (#4)
  README.md
Due: none

Deploy 🚀 (#5)
  .rubocop.yml
  Gemfile
  Gemfile.lock
  README.md
  app/commands/application_command.rb
  lib/generators/command/USAGE
  lib/generators/command/command_generator.rb
  lib/generators/command/templates/command_spec_template.template
  lib/generators/command/templates/command_template.template
Due: bundle exec rubocop --force-exclusion

chore: add deploy workflow
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
Due: none

fix: remove check on PR
  .github/workflows/tests.yml
Due: none

chore: add deploy workflow (#6)
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
Due: none

Deploy (#7)
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
Due: none

Path conditions:
  bundle exec rubocop --force-exclusion: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
